<!DOCTYPE html>
<html>
  <head>
    <title></title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#myTable').DataTable();
        });        

    </script>

</head>
<body>

   <ul class="nav nav-tabs" style="margin-top: 20px; margin-bottom: 20px;">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/employees">employees</a></li>
        <li role="presentation"><a href="/orderdetails">orderdetails</a></li>
    </ul>
        
    <table id="myTable">
        <thead>
            <th>Order Number</th>
            <th>Product Code</th>
            <th>Order Quantity</th>
            <th>Unit Price</th>
            <th>Total Sum</th>
        </thead>
        <tbody>
        <% results.map((row)=>{ %>
            <tr>
                <td><%=row.orderNumber%></td>
                <td><%=row.productCode%></td>
                <td><%=row.quantityOrdered%></td>
                <td><%=row.priceEach%></td>
                <td><%=row.sum%></td>
            </tr>
        <% }); %>
        </tbody>
    </table>

</body>
</html>